<div class="mailing-list-div">
  <p class="font-weight-bold">Join the Mailing List!</p>
  <div class="input-group subscription-form mx-auto flex">
    <input type="text" class="form-control" placeholder="Email Address">
    <span class="input-group-btn">
      <button class="btn btn-main" type="button">Subscribe!</button>
    </span>
  </div>
</div>
