  <footer class="footer text-center flex">


    <ul class="social-media flex">

      {% if section.settings.instagram != blank %}
      <li>
        <a href="{{ section.settings.instagram }}">
          <i class="fab fa-instagram"></i>
        </a>
      </li>
      {% endif %}

      {% if section.settings.bandcamp != blank %}
      <li>
        <a href="{{ section.settings.bandcamp }}">
          <i class="fab fa-bandcamp"></i>
        </a>
      </li>
      {% endif %}

    </ul>


    <ul class="footer-menu">
      {% for block in section.blocks %}
      <li>
        <p>{{block.settings.footer_text}}</p>
      </li>
      {% endfor %}
    </ul>


</footer>


{% schema %}
    {
      "name": "Footer",
      "settings": [
      {
        "type": "text",
        "id": "bandcamp",
        "label": "Bancamp Link"
      },
      {
        "type": "text",
        "id": "instagram",
        "label": "Instagram Link"
      },
      {
        "type": "text",
        "id": "Pinterest",
        "label": "Pinterest Link"
      },
      {
        "type": "text",
        "id": "twitter",
        "label": "Twitter Link"
      }
    ],
    "blocks": [
      {
        "type": "text",
        "name": "Footer Text or Link",
        "settings": [
          {
            "type": "text",
            "id": "footer_text",
            "label": "Text"
          },
          {
            "type": "url",
            "id": "footer_link",
            "label": "Link"
          }
        ]
      }
    ]
  }
{% endschema %}
