<section class="call-to-action section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="title">
          JOIN THE MAILING LIST
        </div>
        <div class="col-lg-6">
          <div class="input-group subscription-form">
            <input type="text" class="form-control" placeholder="Enter Your Email Address">
            <span class="input-group-btn">
              <button class="btn btn-main" type="button">Subscribe!</button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
