<section class="mailing-list-div section">
  <p class="bold text-center">JOIN THE MAILING LIST</p>
  <div class="input-group subscription-form mx-auto">
    <input type="text" class="form-control" placeholder="Enter Your Email Address">
    <span class="input-group-btn">
      <button class="btn btn-main" type="button">Subscribe!</button>
    </span>
  </div>

</section>
