

$main-color: #000;
$red: #dc2824;
$orange: #f57e20;
$yellow: #ffba00;
$green: #9dcb3b;
$blue: #45b2e6;
$purple:  #895fa6;
$background: #fff;
$page-padding: 12px;
$time: 0.5s;
$border-weight: 2px;
$borders: $border-weight solid $main-color;
$font-reg: 'Rubik', sans-serif;;
$header-height: 100px;
$footer-height: 200px;
$rainbow: linear-gradient(to right, $red, $orange, $yellow, $green, $blue, $purple);
$rainbow2: repeating-radial-gradient($red, $orange, $yellow, $green, $blue, $purple);
$glow: 2px 2px 20px #fff;
$scrollbar-width: $page-padding;


@font-face {
  font-family: 'blackletter';
  src: url("blackletter-webfont.woff2") format("woff2"), url("blackletter-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

/* Main Styles */

html {
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: $background;
  font-family: $font-reg, sans-serif;
  overflow: auto;
  height: 100%;
}

/* SCROLLBAR */

/* width */
::-webkit-scrollbar {
    width: $scrollbar-width;
    height: $scrollbar-width;
    border: $borders;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: $background;

}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $green;

}

hr:not(.the-burger) {
  border-top: 4px $main-color solid;
  margin: calc(#{$page-padding}/ 2) 0;
}





/* Type */

h1, h2, h3, h4, h5 {
  text-align: center;
  font-weight: 500;
  color: $main-color;
}

p {
  font-family: $font-reg;
  font-size: 16px;
  color: $main-color;
  margin: 0;
  opacity: 1
}

a {
  color: $main-color;
  transition: $time ease-in-out;
  font-family: $font-reg;
  opacity: 1
}

a:hover {
  color: $green;
  transition: $time ease-in-out;
  text-decoration: none;
}

/* Utility Classes */
.flex {
  display: flex;
  vertical-align
  : middle;
  align-items: center;
}

.row {
  margin: 0 auto;
}

.title {
  margin-bottom: $page-padding;
  font-weight: bold;
}
/* -----------------------------------------------------------------------------
   -----------------------------------------------------------------------------

                                       small Screens

  -----------------------------------------------------------------------------
 ---------------------------------------------------------------------------- */

.shopify-section {
  padding: $page-padding calc(#{$page-padding} * 2);
  width: 100%;
  height: auto;
}

/* -----------------------------------------------------------------------------
                                       HEADER
 ---------------------------------------------------------------------------- */

#shopify-section-header {

  z-index: 9000;
  position: sticky;
  height: $header-height;
  width: 100%;
  top: 0;
  background-color: $background;
  border-bottom: $borders;

  .shopify-cart-login {
    width: 100%;
    justify-content: flex-end;
    font-size: 18px;
    padding-bottom: $page-padding;
    color: $main-color;

    a {
      padding-right: $page-padding;
    }

    .fa {
      color: $main-color;
      margin-right: calc(#{$page-padding} / 3)
    }
  }

  .logo-header {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;

    #logo-link {
      font-family: $font-reg;
      font-weight: 700;
      -webkit-transition: background-image $time ease-in-out;
      transition: background-image $time ease-in-out;
      font-size: 30px;
      background-image: $rainbow;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .menu-button {
        z-index: 1000;
        background-color: $background;
        border: none;
        margin-right: $page-padding;
        border-radius: 0;
        cursor: pointer;
        float: right;

        .hamburger {
          padding: 0;
          margin: 0;
          background-color: $background;
          transition: all $time ease-in-out;

        .hamburger-box {
          transition: $time ease-in-out;
          .hamburger-inner::before {
            background-color: $green;
            transition: $time ease-in-out;
          }
          .hamburger-inner {
            background-color: $blue;
            transition: $time ease-in-out;
          }
          .hamburger-inner::after {
            background-color: $purple;
            transition: $time ease-in-out;
          }
        }

        .hamburger-box:hover {
          .hamburger-inner::before {
            background-color: $red;
            transition: $time linear;
            text-shadow: $glow;
          }
          .hamburger-inner {
            background-color: $orange;
            transition: $time ease-in-out;
            text-shadow: $glow;
          }
          .hamburger-inner::after {
            background-color: $yellow;
            transition: $time ease-in-out;
            text-shadow: $glow;
          }
        }
      }
      .hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::before, .hamburger.is-active .hamburger-inner::after {
        background-color: $blue;
        transition: $time ease-in-out;
      }

    }

  }

}

/* ------------- TOGGLE MENU ------------- */

.menu {
  flex-direction: column;
  justify-content: space-around;
  bottom: 60px;
  font-size: 3em;
  background-image: $rainbow2;
  padding: $page-padding;
  color: $main-color;
  display: none;
  top: $header-height;
  z-index: 100;
  width: 100%;
  transition: $time;
  #navbarSupportedContent {
    height: 100%;
  }
}

.openSesame {
  display: flex;
  position: fixed;
  left: 0;
}

.nav-item {
  width: 100%;
  .nav-link {
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
    padding: .5rem 0;
    p {
      font-family: 'Blackletter';
      transition: linear all $time;
      font-size: 40px;
      color: #000;
      padding: 0;
    }
    p:hover {
      color: #fff;
      text-shadow: 6px -8px #000;
      transition: linear all $time;
    }

  }
  #highlight {
    p {
      text-decoration: underline;
    }
  }
}


.dropdown-toggle::after {
  color: #fff;
  margin-top: 9px;
  height: 10px;
}

.dropdown-toggle:hover {
  color: $yellow;
}

#menu-peace {
  height: 100px;
  width: 100px;
  #peace-star {
    position: absolute;
    height: 100px;
    width: 100px;
    bottom: $page-padding;
  }
}


/* -----------------------------------------------------------------------------
                               SECTION: SHOP BODY
 ---------------------------------------------------------------------------- */

#shopify-section-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  overflow-y: scroll;

}

/* -----------------------------------------------------------------------------
                                 PRODUCT CATEGORY
 ---------------------------------------------------------------------------- */

.product-category {
  padding: $page-padding;
  .product-category-title {
    color: $main-color;
    font-size: 20px;
  }
}

/* -----------------------------------------------------------------------------
                                      HOMEPAGE
 ---------------------------------------------------------------------------- */

#shopify-section-homepage-text {
  display: flex;
  flex-direction: column;
}

.homepage-division {
  flex-wrap: wrap;
}


/* -----------------------------------------------------------------------------
                                 HOMEPAGE CAROUSEL
 ---------------------------------------------------------------------------- */

#shopify-section-homepage-viewer {
  padding: 0;

  .homepage-viewer {

    width: calc(100vw - #{$scrollbar-width});

    .carousel-inner {
      height: 85vw;
      width: 100%;
      margin: 0 auto;
      padding: 0;
    }

    .carousel-item {
      border: $borders;
      height: 100%;
      background-size: cover;
      background-position: 50% 50%;
      img {
        visibility: hidden;
        border-radius: 100%;
      }
    }

    .carousel-indicators-div {
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      vertical-align: middle;
      text-align: center;
      margin: 0 auto;
      width: 100%;
      height: 50px;

      ol {
        position: relative;
        margin: 0;

        li {
          height: 100%;
          width: 30px;
          background: none;
          font-size: 20px;
          font-weight: bold;
          text-align: center;
          text-indent: 0;
          color: $main-color;
          opacity: 1;
          margin: 0;
          padding: 0;
        }
      }
    }

    .carousel-indicators {
      padding: 0;
      li.active {
        color: $yellow;
      }
    }

    .carousel-control-next:focus,
    .carousel-control-next:hover,
    .carousel-control-prev:focus,
    .carousel-control-prev:hover {
        opacity: 1;
        transition: $time all;
        p {
          color: $yellow;
        }
    }



    .carousel-control-next,
    .carousel-control-prev {
      opacity: 1;
      transition: $time all;
      p {
        font-size: 20px;
        font-weight: bold;
        color: $main-color;
        margin-bottom: 0;
      }
    }

  }

}

/* -----------------------------------------------------------------------------
                                  NEWS SECTION
 ---------------------------------------------------------------------------- */


#shopify-section-news {
  border-bottom: $borders;
  .news {
    flex-direction: column;
    align-items: flex-start;
    .news-text {
      margin-bottom: $page-padding;
    }
  }


}


/* -----------------------------------------------------------------------------
                                 HOMEPAGE PRODUCTS
 ---------------------------------------------------------------------------- */
#shopify-section-homepage-products {
  .img-responsive {
    width: 100%;
  }
  .homepage-products-div {
    flex-direction: column;
    .product-item {
      display: block;
      margin-bottom: $page-padding;
      transition: all $time ease-in-out;
        .product-thumb {

        }
        .featured-product-img-link img {
          padding: 1px 1px 0 0;
        }
        .featured-product-img-link img:hover {
          border-color: $yellow;
        }
    }

    .product-item:hover {
        box-shadow: $glow;
        transition: all $time ease-in-out;
    }
    .product-content {
      flex-direction: column;
      .feat-text-div {
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
          .feat-product-title {
            margin-right: auto;
            margin-bottom: 0;
            text-transform: uppercase;
          }
          .feat-product-description,
          .price {
            margin-bottom: 0;
            text-align: left;
          }
      } // feat-text-div

    .product-buttons {
      margin: 0;
      padding: 0;
      list-style: none;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      width: 100%;
        li {
          justify-content: center;
          margin: 0 0 0 calc(#{$page-padding} * 2);
          border: $borders;
          border-radius: 20px;
          line-height: 38px;
          width: 80px;
          height: 38px;
          transition: all $time ease-in-out;
          color: $main-color;
          p,i,a {
            text-align: center;
            font-size: 13px;
            font-weight: bold;
          }
        }
        li:hover {
          background-color: $orange;
          transition: all $time ease-in-out;
          p,i,a {
            color: $main-color;
          }
        }
        li:nth-child(2):hover {
          background-color: $green;
        }

      } //product-buttons
    } //product-content
  }// homepage-products-div
} //section



/* -----------------------------------------------------------------------------
                                      FOOTER
---------------------------------------------------------------------------- */

#shopify-section-footer {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: $background;
  width: 100%;
  height: $footer-height;
  border-top: $borders;
  bottom: 0;
  padding: calc(#{$page-padding} * 2) $page-padding;
  footer {
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    font-size: 20px;
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      width: 100%;

    }
    .social-media {
      flex-direction: row;
      justify-content: space-around;
    }
  }
  p {
    margin: 0;
  }
}


.mailing-list-div {
    width: 100%;
  .btn.btn-main {
    color: $main-color;
    border: $borders;
    margin-left: $page-padding;
    background-color: $background;
  }

  .btn:hover {
    background-color: $red;
    color: #000;
  }
  .input-group.subscription-form {
    .form-control {
      font-size: 12px;
      height: 100%;
      flex-direction: row;
      align-items: center;
    }
  }
}


/* -----------------------------------------------------------------------------
   -----------------------------------------------------------------------------

                                     BIG Screens

  -----------------------------------------------------------------------------
 ---------------------------------------------------------------------------- */


@media (min-width: 600px) {

  $footer-height: 60px;

  .shopify-section {
    padding: $page-padding calc(#{$page-padding} * 3);
  }

  #shopify-section-body {
    flex-wrap: wrap;
    padding: calc(#{$page-padding} * 2);
    overflow-y: hidden;
    overflow-x: hidden;
    padding: 0;
  }

  #logo-link {
    transform: scale(1.75, 2.5) translate(47.5px, -7px);
  }

  /* ---------------------------------------------------------------------------
                                     HOMEPAGE TEXT
   -------------------------------------------------------------------------- */

  #shopify-section-homepage-text {
    flex-direction: row;
  }

    .homepage-division {
      flex-direction: column;
      flex-wrap: nowrap;
      // justify-content: space-between;
      height: 100%;
      overflow-y: scroll;

      .shopify-section {
        width: 100%;
        height: 100%;
      }
    }


    #viewer-plus-news-div {
      flex-direction: column;
    }

    .carousel {
      margin: 1vw 0;
    }

    .carousel-inner {
      height: 20vw;
    }

    .carousel-inner,
    .carousel-indicators-div {
      width: 20vw;
      margin: 0 auto;
    }

    #shopify-section-homepage-carousel {
      margin-bottom: 0;
    }

    div#shopify-section-homepage-release {
      iframe#player {
        height: 23vw;
        width: 100%
        }
    }

    .homepage-text-div {
      flex-direction: column;
    }

/* -----------------------------------------------------------------------------
                                  NEWS SECTION
 ---------------------------------------------------------------------------- */
  #shopify-section-news {
    border-bottom: none;
  }


    #news-div.homepage-division {
      border-bottom: none;
      border-right: $borders;
      width: 35%;
      height: calc(100vh - ( #{$header-height + $footer-height}));
      overflow-y: scroll;
    }



  /* ---------------------------------------------------------------------------
                                   HOMEPAGE PRODUCTS
   -------------------------------------------------------------------------- */


  #featpro-div.homepage-division {
    width: 65%;
    overflow-x: scroll;
    overflow-y: hidden;
    height: calc(100vh - ( #{$header-height + $footer-height}));
  }

  #shopify-section-homepage-products {

    height: calc(100vh - ( #{$header-height + $footer-height}));


  .img-responsive {
    width: 100%;
  }

  .homepage-products-div {
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
    min-width: 68vw;
    height: 90%;

    .product-item {
      height: auto;
      width: 30vw;
      max-width: 320px;
      margin: 0 calc(#{$page-padding} * 3) 0 0;

      .product-thumb {
        margin-bottom: $page-padding;
      }

      .product-content {
        flex-direction: column;

        .feat-text-div {
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-start;
          width: 100%;

            .feat-product-title {
              margin-right: auto;
              margin-bottom: 0;
              text-transform: uppercase;
            }

            .feat-product-description,
            .price {
              margin-bottom: 0;
              text-align: left;
              font-size: 14px;
            }
        } // feat-text-div

      .product-buttons {
        margin: 0;
        padding: 0;
        list-style: none;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        width: 100%;

          li {
            justify-content: center;
            margin: 0 0 0 calc(#{$page-padding} * 2);
            border: $borders;
            border-radius: 20px;
            line-height: 38px;
            width: 80px;
            height: 38px;
            transition: all $time ease-in-out;

            p,i,a {
              text-align: center;
              font-size: 13px;
              font-weight: bold;
              color: $main-color;
            }

          }

          li:hover {
            background-color: $orange;
            transition: all $time ease-in-out;
            color: $main-color;

          }

          li:nth-child(2):hover {
            background-color: $green;
          }

        } //product-buttons
      } //product-content
    } //product-item
  } // homepage-prducts-div
} //section

/* -----------------------------------------------------------------------------
                                      FOOTER
---------------------------------------------------------------------------- */


#shopify-section-footer {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: calc(#{$page-padding});
  position: fixed;
  height: $footer-height;
  footer {

      flex-direction: row;
      justify-content: space-between;
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        width: 33%;
      }
      .social-media {
        font-size: 20px;
        width: 100px;
      }
  }
}

.mailing-list-div {
  margin: 0;

  .btn.btn-main {
    color: $main-color;
    border: $borders;
    margin-left: $page-padding;
  }
  .input-group.subscription-form {
    width: 100%;
    .form-control {
      font-size: 12px;

    }
  }
}

} // end media
